apiVersion: v1
kind: ConfigMap
metadata:
  name: tldraw-server-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-server
data:
  API_HOST: "http://api-svc:3030"
  WS_PATH_PREFIX: "/tldraw-server"