apiVersion: v1
kind: ConfigMap
metadata:
  name: tldraw-server-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-server
data:
  API_HOST: "http://api-svc:3030"
  WS_PATH_PREFIX: "/tldraw-server"
  WS_PORT: "3345"
  LOG: "@y/redis"
  FEATURE_PROMETHEUS_METRICS_ENABLED: "true"
  REDIS_SENTINEL_SERVICE_NAME: valkey-headless.{{ NAMESPACE }}.svc.cluster.local
