apiVersion: v1
kind: ConfigMap
metadata:
  name: tldraw-server-configmap
  namespace: "{{ NAMESPACE }}"
  labels:
    app: tldraw-server
data:
  AUTHORIZATION_API_HOST: "{{ API_HOST_URI }}"
  LOGGER_LOG_LEVEL: "{{ TLDRAW_LOG_LEVEL }}"
  METRICS_COLLECT_DEFAULT: "{{ TLDRAW_METRICS_COLLECT_DEFAULT }}"
  REDIS_CLUSTER_ENABLED: "true"
  REDIS_SENTINEL_SERVICE_NAME: "valkey-headless.{{ NAMESPACE }}.svc.cluster.local"
  SERVER_ASSETS_ALLOWED_MIME_TYPES_LIST: "{{ TLDRAW_ASSETS_ALLOWED_MIME_TYPES_LIST }}"
  SERVER_ASSETS_ENABLED: "{{ TLDRAW_SERVER_ASSETS_ENABLED }}"
  SERVER_FEATURE_TLDRAW_ENABLED: "{{ FEATURE_TLDRAW_ENABLED }}"
  SERVER_WEBSOCKET_PATH: "{{ TLDRAW_WEBSOCKET_PATH }}"
  SERVER_WEBSOCKET_URL: "wss://{{ DOMAIN }}{{ TLDRAW_WEBSOCKET_PATH }}"
