apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: tldraw-server-pod-monitor
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-server
spec:
  selector:
    matchLabels:
      app: tldraw-server
  podMetricsEndpoints:
  - path: /metrics
    port: "9090"
