apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: tldraw-valkey-password
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-valkey
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/tldraw-valkey-password"
