apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: tldraw-valkey
  namespace: {{ NAMESPACE }}
  labels:
    app: mongodb-query-exporter
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/tldraw-valkey"
